<nav>
    <div class="flex w-">
        <ul>
            <h4>Wichtige Seiten</h4>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
        <ul>
            <h4>Über</h4>
            <li><a href="#">Datenschutz</a></li>
            <li><a href="#">AGB</a></li>
            <li><a href="#">Cookies</a></li>
        </ul>
        <ul>
            <h4>Besuche uns</h4>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </div>
</nav>