{% extends 'template/mainTemplate.twig' %} 

{% block title %}Home{% endblock %}

{% block nav %}
{% include '/snippets/nav.twig'%}
{% endblock %} 

{% block content %}

<h1>404</h1>
<p>Page not found</p>

{% endblock %}

{% block footer %}
{% include '/snippets/footer.twig' %}
{% endblock %}
